.table-data-finansial {
  width: 80%;
}

.table-container {
  max-height: 68vh;
  overflow-y: auto;
  /* border: 1px solid #ddd; */
}

.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 10;
  /* Optional: add border-bottom for separation */
  border-bottom: 2px solid #000000;
}

.sidebar {
  width: 20%;
}
