table th {
  text-align: center; /* Horizontal center */
  vertical-align: middle; /* Vertical center */
}

td {
  vertical-align: middle;
}

.table-container {
  
  max-height: 90vh; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
 
}

.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #000000;
}

.sidebar {
  width: 20%;
}

.table-data-riwayat {
  width: 80%;
}
